<apex:component >
    <script>
    (function(window, angular, helpers, moment) {
        var app = angular.module('app', ['ngSanitize', 'ngAria', 'dirPagination', 'uiDirs', 'main', 'ui.date'])
        
        app.config(['paginationTemplateProvider', function(paginationTemplateProvider) {
            paginationTemplateProvider.setPath(window.DIST_PATH + 'dist/templates/' + 'dirPagination.tpl.html')
        }])
        
        app.filter('num2time', function () {
            return function (input) {
                var aaa = helpers.timeNumFormat(input, 'ha')
                return helpers.timeNumFormat(input, 'ha')
            }
        })
        
        app.filter('shorterDate', function () {
            return function (input) {
                return moment(input, 'DD/MM/YYYY').format('D/M/YY')
            }
        })
        
        app.run(['$rootScope', function($rootScope) {
            $rootScope.getTemplateUrl = function(name) {
                return window.DIST_PATH + 'dist/templates/' + name
            }
            
            $rootScope.getIconUrl = function(name, group) {
                if (!group) group = 'utility'
                return window.ASSET_PATH + 'assets/icons/' + group + '-sprite/svg/' + name
            }
        }])
    })(window, angular, helpers, moment);
    </script>
</apex:component>