<apex:page showHeader="false" sidebar="false" standardController="Project__c" extensions="skedGenerateInvoiceCrl">
<head>
  <meta charset="UTF-8" />
  <title>Generate Invoice on Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="{!URLFOR($Resource.sked_assets,'assets/styles/salesforce-lightning-design-system.min.css')}" />
  <link rel="stylesheet" href="{!URLFOR($Resource.sked_assets,'dist/vendor/jquery-ui-custom/jquery-ui.min.css')}" />
  <link rel="stylesheet" href="{!URLFOR($Resource.sked_assets,'dist/vendor/jquery-ui-custom/jquery-ui.theme.min.css')}" />
  <!-- Styles -->
  <link rel="stylesheet" href="{!URLFOR($Resource.sked_assets,'dist/styles/datepicker.css')}" />
  <link rel="stylesheet" href="{!URLFOR($Resource.sked_assets,'dist/styles/main.css')}" />
  <script type="text/javascript">
    window.projectId = '{!Project__c.Id}';
    window.disabledAll = false;
    console.log('window.projectId', window.projectId);
  </script>
</head>

<body style="margin: 0; padding: 0;">
  <!-- SLDS -->
  <div class="slds ng-cloak" id="root" ng-controller="mainCtrl as main">
    <!--
    <div ng-show="'{!startDate}'.length <= 2" style="color:red;">
      You cannot enter License Entry without Opportunity's Start Date.      
    </div>
    -->

    <div ng-show="true">
    <div class="slds-grid slds-m-horizontal--large slds-m-vertical--medium">
      <div class="slds-col">
        <button class="slds-button slds-button--brand slds-float--right button-green" 
        ng-show="main.entries.length > 0" 
        ng-click="main.saveEntries()">Save Invoice Entries</button>
      </div>
    </div>

    <div ng-repeat="entry in main.entries">
      <div class="slds-box slds-theme--shade">
        <div class="slds-form--inline">
          <div class="slds-form-element slds-m-left--medium">
            <button ng-show="true" class="slds-button slds-button__delete" 
            ng-click="main.deleteEntry(entry.id)">Delete</button>
          </div>
          <div class="slds-form-element slds-m-left--medium">
            {{entry.name.length === 0 ? "New " : "" }}  Invoice Entry {{entry.name}}
          </div>
          <div class="slds-form-element slds-m-left--x-large">
            <!--
            <label class="slds-form-element__label" for="start-date-{{$index}}">Start</label>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
              <img class="slds-input__icon slds-icon-text-default" ng-src="{!URLFOR($Resource.sked_assets,'assets/icons/utility/event_120.png')}" />
              <input type="text" id="start-date-{{$index}}" class="slds-input" ng-disabled="main.disabledAll" ui-date="main.dateOptions" ng-change="entry.isDirty = true" ng-model="entry.startDate" />
            </div>
            -->

          </div>
          <div class="slds-form-element slds-m-left--x-large">
            <!--
            <label class="slds-form-element__label" for="end-date-{{$index}}">End</label>
            <div class="slds-form-element__control">
              <input type="text" id="end-date-{{$index}}" class="slds-input"  ui-date="main.dateOptions" ng-model="entry.endDate" ng-disabled="true" />
            </div>
            -->
          </div>
          <div class="slds-form-element slds-m-left--x-large">
            <!--
            Invoice Entry Total Months {{entry.licenseEntryTotalMonths}}
            -->
          </div>
        </div>
      </div>

      <table class="slds-table slds-table--bordered slds-table--cell-buffer">
        <thead>
          <tr class="text-title--italic"> 
            <th scope="col" width="5%">
              Action
            </th>            
            <th scope="col" width="15%">
              <div class="slds-truncate" title="Select Product">Select Product</div>
            </th>
            <!--
            <th scope="col" width="10%">
              <div class="slds-truncate" title="Type">Type</div>
            </th>
            -->
            <th scope="col" width="35%">
              <div class="slds-truncate" title="Description">Description</div>
            </th>
            <th scope="col" width="5%">
              <div class="slds-truncate" title="Quantity">Quantity</div>
            </th>
            <th scope="col" width="10%">
              <div class="slds-truncate" title="Unit Price">Unit Price</div>
            </th>
            <th scope="col" width="10%">
              <div class="slds-truncate" title="Total Price">Total Price</div>
            </th>           
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="line in entry.lines">
            <th scope="row" data-label="Delete">
              <button ng-show="true" ng-disabled="main.disabledAll" class="slds-button slds-button__delete" 
              ng-click="main.deleteLineItem(line, entry)">Delete</button>
            </th>
            <th scope="row" data-label="Select Product">
              <div class="slds-truncate">
                <div class="slds-form-element">
                  <div class="slds-form-element__control">
                    <div class="slds-select_container">
                      <select class="slds-select" ng-disabled="main.disabledAll" ng-options="product.id as product.name for product in main.products" ng-model="line.productId" ng-change="main.onChangeProduct(line);">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </th>

            <!--
            <th scope="row" data-label="Select Type">
              <div class="slds-truncate">
                <div class="slds-form-element">
                  <div class="slds-form-element__control">
                    <div class="slds-select_container">
                      <select class="slds-select" ng-disabled="main.disabledAll" ng-options="type.id as type.label for type in main.invoiceTypes" 
                      ng-model="line.invoiceType" >
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            -->

            <td data-label="Description">
              <div class="slds-truncate">
                <div class="slds-form-element__control">
                  <input type="text" class="slds-input" ng-disabled="main.disabledAll" ng-change="line.isDirty = true" ng-model="line.description"/>
                </div>
              </div>
            </td>
            <td data-label="Quantity">
              <div class="slds-truncate">
                <div class="slds-form-element__control">
                  <input type="text" restrict-input="^[0-9]*$" ng-disabled="main.disabledAll" class="slds-input" ng-change="line.isDirty = true" ng-model="line.quantity"/>
                </div>
              </div>
            </td>
            <td data-label="Unit Price / Month">
              <div class="slds-truncate">
                <div class="slds-form-element__control">
                  <input type="number" min="0" class="slds-input" ng-disabled="main.disabledAll" ng-change="line.isDirty = true" ng-model="line.unitPrice"/>
                </div>
              </div>
            </td>
            <td data-label="Total Price">
              <div class="slds-truncate">
                {{line.quantity * line.unitPrice | currency }}
              </div>
            </td>
            
          </tr>
        </tbody>
      </table>

      <div class="slds-m-horizontal--large slds-m-vertical--small">
        <button class="slds-button slds-button--clear slds-p-horizontal--small"  ng-disabled="main.disabledAll" ng-click="main.addLine($index)">+ Add Line</button>
      </div>
    </div>

    <div class="slds-m-horizontal--large slds-m-top--medium">
      <button class="slds-button slds-button--neutral" ng-disabled="main.disabledAll" ng-click="main.addEntry()">+ Add Invoice Entry</button>
    </div>

    <!-- modal backdrop container -->
    <div class="aljs-modal-container"></div>
      
      
    </div>

    
  </div>
  <!-- Libs -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-date/1.0.1/date.min.js"></script>

  <script>
    angular.module('app', ['ui.date'])
        .directive('restrictInput', [function(){
        
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var ele = element[0];
                    var regex = RegExp(attrs.restrictInput);
                    var value = ele.value;
                    
                    ele.addEventListener('keyup',function(e){
                        if (regex.test(ele.value)){
                            value = ele.value;
                        }else{
                            ele.value = value;
                        }
                    });
                }
            };
        }])
      .controller('mainCtrl', function ($timeout) {

        var $ctrl = this;

        function guid() {
          function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
              .toString(16)
              .substring(1);
          }
          return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
            s4() + '-' + s4() + s4() + s4();
        }

        this.$onInit = function () {
          this.assetPath = "/"

          this.dateOptions = {
            changeMonth: true
          }

          //License Entry
          var entryModel = {
            "id": null,
            "name": "",
            "projectId":window.projectId,
            "isDirty": true,
            "startDate": new Date('{!startDate}'),
            "endDate": new Date('{!endDate}'),
            "total": null,            
            "lines": []
          }

          //Opportunity--License Entry--License Entry items.
          var lineModel = {
            "id": null,
            "productId": null,
            "invoiceId": null,
            "description": null,
            "isDirty":true,
            "quantity": null,
            "unitPrice": null,
            "totalPrice": null
            
          }



          //All License Products.
          this.products = [
            //{ "name": "Product 1", "id": "1" , "unitPrice":"1"},
            //{ "name": "Product 3", "id": "3" , "unitPrice":"2"},
            //{ "name": "Product 2", "id": "2" , "unitPrice":"3"}
          ]

          this.invoiceTypes = [];

          //-- list of License Entry.
          this.entries = [];
          /*
            {
              "startDate": new Date(),
              "endDate": new Date(),
              lines: [{
              
                "productId": "1",
                "description": "test",
                "quantity": 1,
                "unitPrice": 1,
                "totalPriceMonth": 1,
                "totalACV": 1
                

              }]
            }
          ]
          */

          this.disabledAll = window.disabledAll;

          this.loadInvoiceData(window.projectId, function(data){
            console.log('response data', data);             
            var result = data.result;
            console.log('response result', result);
            $timeout(function () {
                $ctrl.products = result.products;
                $ctrl.invoiceTypes = result.invoiceTypes;
                $ctrl.entries  = result.entries;
            }, 100);            

          }); 
          
          
          this.addEntry = function () {

            var modal = angular.copy(entryModel)
            modal.id = guid()
            //console.log(modal.id);
            this.entries.push(modal)
          }

          this.addLine = function (entryIndex) {
            var newLineItem = angular.copy(lineModel);
            newLineItem.id = guid();
            this.entries[entryIndex].lines.push(newLineItem);
          }

          this.onChangeProduct = function(line){
            //$timeout(function () {
            for(var i=0; i<this.products.length; i++){
                if(this.products[i].id == line.productId) {
                    line.unitPrice  = this.products[i].unitPriceMonth;
                    line.description = this.products[i].description;
                }
            }           

          }

          
          this.deleteEntry = function (entryId){

            console.log('entryId.length::', entryId.length);            
            var r = confirm("Are you sure?");
            if (r == false) {
                return;
            }

            var indexEntry = -1;
            for(var i=0; i<this.entries.length; i++){
              var entry = this.entries[i];
              if(entry.id == entryId){
                indexEntry = i;
              }
            }

            if(indexEntry <0) {              
              return;
            }

            if(entryId.length > 18){
              //remove on layout if it is not saved.
              this.entries.splice(indexEntry,1);            
            } else {
                Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.skedGenerateInvoiceCrl.deleteInvoiceEntry}',entryId,                       
                        function(result, event) {
                          console.log('deleteInvoiceEntry', result);
                            if (event.status) {                                
                                //return callback(result);
                                if(!result.success) {
                                  alert(result.message); return;
                                }
                                console.log('success');                              
                                window.top.location = '/' +window.projectId;
                            } else {
                                //show error message.
                                alert(event.message);
                                
                            }
                        },
                        { buffer: true, escape: false, timeout: 30000 }
                );

            }

          }

          
          this.deleteLineItem = function (line, entry){
            console.log('line::', line);            
            var r = confirm("Are you sure?");
            if (r == false) {
                return;
            }

            var indexEntry = -1;
            for(var i=0; i<entry.lines.length; i++){
              var lineVar = entry.lines[i];
              if(lineVar.id == line.id){
                indexEntry = i;
              }
            }

            if(indexEntry <0) {              
              return;
            }

            if(line.id.length > 18){
              //remove on layout if it is not saved.
              entry.lines.splice(indexEntry,1);            
            } else {
                Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.skedGenerateInvoiceCrl.deleteInvoiceEntryItem}',line.id,                       
                        function(result, event) {
                          console.log('deleteInvoiceEntryItem', result);
                            if (event.status) {                                
                                //return callback(result);
                                if(!result.success) {
                                  alert(result.message); return;
                                }
                                console.log('success');                              
                                window.top.location = '/' +window.projectId;
                            } else {
                                //show error message.
                                alert(event.message);
                                
                            }
                        },
                        { buffer: true, escape: false, timeout: 30000 }
                );

            }


          }
          

          this.saveEntries = function () {

            console.log('saveEntries', angular.copy(this.entries));
            //validation
            for(var i=0; i<this.entries.length; i++){
              var entry = this.entries[i];                

              if(entry.lines.length == 0){
                alert('License Entry must have at least one line item.');
                return;
              }

              //start date of License Entry must greater than or equal Opportunity's Start Date.
            

                //Line item.
                for(var j=0; j<entry.lines.length; j++){
                    var lineItem = entry.lines[j];

                    if(!lineItem.productId) {
                        alert('Product is a required field.');
                        return;
                    }
                    if(!lineItem.quantity) {
                        alert('Quantity is a required field.');
                        return;
                    }

                    if(lineItem.unitPrice == undefined || lineItem.unitPrice == null || lineItem.unitPrice < 0 ) {
                        alert('Unit Price is a required field and must be a positive number.');
                        return;
                    }  

                    lineItem.tax = lineItem.unitPrice*lineItem.quantity*{!taxPercent};

                }

            }


            Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.skedGenerateInvoiceCrl.saveEntries}',JSON.stringify(this.entries),window.projectId,                       
                        function(result, event) {
                            console.log('saveEntries', result);
                            if (event.status) {                                
                                //return callback(result);
                                if(!result.success) {
                                  alert(result.message); return;
                                }
                                console.log('success');                              
                                window.top.location = '/' +window.projectId;
                                
                            } else {
                                //show error message.
                                alert(event.message);
                                console.log('error at saveEntries');
                            }
                        },
                        { buffer: true, escape: false, timeout: 30000 }
            );


          }          


        }

        
        $ctrl.loadInvoiceData = function(projectId, callback) {
                
                Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.skedGenerateInvoiceCrl.loadInvoiceData}',projectId,                        
                        function(result, event) {
                            console.log('loadInvoiceData', result);
                            if (event.status) {                                
                                return callback(result);
                            } else {
                                //show error message.
                            }
                        },
                        { buffer: true, escape: false, timeout: 30000 }
                );                         
        }

        $ctrl.monthDiff = function(d1, d2) {
            if(!d1 || !d2) return 2;// any number that greater than 1.
                var months;
                months = (d2.getFullYear() - d1.getFullYear()) * 12;
                months -= d1.getMonth();//+ 1
                months += d2.getMonth();
                return months <= 0 ? 0 : months;
            }



      })
    angular.bootstrap(document.getElementById('root'), ['app'])
  </script>
</body>
    
</apex:page>